@use "../abstracts/" as *;

.container {
  width: clamp(20ch, 90%, unit(840));
  margin-inline: auto;
}

.underline {
  padding-bottom: 63px;
  border-bottom: 1px solid clr(neutral, 300);

  @include mq(tablet) {
    padding-bottom: 47.5px;
  }
}
