@use "../abstracts/" as *;

// $clr-bg: #333;
// $clr-fg: #f3f3f3;

body {
  font-size: fs(s);
  font-weight: $fw-400;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
