@use "../abstracts/" as *;

// $clr-bg: #333;
// $clr-fg: #f3f3f3;

body {
  background-color: clr(neutral, 200);
  color: clr(neutral, 600);
  font-size: var(--fs-heading-body);
  font-weight: fw(400);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

.card {
  background-color: $clr-white;
  border-radius: unit(24) unit(24) unit(100) unit(24);

  @include mq(tablet) {
    border-bottom-right-radius: unit(200);
  }
}

.card__top {
  position: relative;
  padding: unit(48) unit(24) 0 unit(24);

  @include mq(tablet) {
    padding: unit(56) unit(56) 0 unit(56);
  }
}

.card__bottom {
  position: relative;
  padding: 3.9375rem unit(24) unit(48) unit(24);
  @include mq(tablet) {
    padding: unit(56) unit(56) unit(56) unit(56);
  }

  h2 {
    color: clr(neutral, 900);

    .accent {
      color: clr(primary, 500);
    }
  }
}

.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: unit(16);
  // max-width: 554px;

  @include mq(tablet) {
    gap: unit(32);
  }

  &__data {
    // display: inline-block;
    // width: 100%;

    // & + & {
    //   margin-left: 32px;
    // }

    width: 100%;
    max-width: 5.4375rem;

    @include mq(tablet) {
      max-width: 10rem;
    }

    & label {
      color: clr(neutral, 900);
      display: block;
      margin-bottom: 0.25rem;
      text-transform: uppercase;

      @include mq(tablet) {
        margin-bottom: 0.5rem;
      }
    }

    & input {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      cursor: pointer;
      appearance: textfield;
      width: 100%;
      color: clr(neutral, 900);
      border: none;
      border-radius: unit(8);
      outline: 1px solid clr(neutral, 300);
      padding: unit(12) unit(16) unit(12) unit(16);
      &::placeholder {
        color: clr(neutral, 900);
        opacity: 0.5;
      }

      @include mq(tablet) {
        max-width: 10rem;
        padding: unit(12) unit(24) unit(12) unit(24);
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }

      &:active,
      &:focus,
      &:hover {
        outline: 1px solid clr(primary, 500);
      }

      &:focus:invalid {
        outline: 1px solid clr(primary, 400);
      }

      &.valid-outline {
        outline: 1px solid clr(primary, 500);
      }

      &.error-outline {
        outline: 1px solid clr(primary, 400);
      }
    }

    p {
      display: none;
      color: clr(primary, 400);

      &.invalid-msg {
        display: block;
      }
    }
  }
}

.attribution {
  color: inherit;
  inset: auto auto 0;
  margin-inline: auto;
  position: absolute;
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  font-weight: fw(800);
  color: clr(primary, 500);
}
